<h2 class="section-title">Cone or cup</h2>

<ion-radio-group
  [(ngModel)]="selected"
  (ngModelChange)="selectedChange.emit($event)"
>

  @for (container of containers; track container.name) {
    <ion-item lines="none" class="container-item">

      <ion-radio
        slot="start"
        [value]="container.name">
      </ion-radio>

      <ion-label>
        {{ container.label }}
      </ion-label>

      <span class="container-price">
        @if (container.price === 0) {
          free
        } @else {
          € {{ container.price }}
        }
      </span>

    </ion-item>
  }

</ion-radio-group>
