.section-title {
  font-size: 16px;
  font-weight: 600;
  margin: 20px 0 8px;
}

.container-item {
  display: flex;
  align-items: center;
}

.container-price {
  margin-left: auto;
  font-size: 14px;
}
