<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Make Ice Cream</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid>

    @for (flavour of flavours; track flavour.name) {
      <app-flavour-product [flavour]="flavour"></app-flavour-product>
    }

    <app-container-selector
      [containers]="containers"
      [(selected)]="selectedContainer">
    </app-container-selector>

    <app-extras-selector
      [extras]="extrasOptions"
      [(selected)]="selectedExtras">
    </app-extras-selector>


  </ion-grid>

</ion-content>
